## 데이터분석 1 중간고사 B형

한 학기의 절반이 지났습니다. 배운 내용을 잘 살려서 문제를 풀어보기 바랍니다. 문제는 단답형 5점, 분석형 10점으로 총 15점 입니다.

### 단답형 (5점)

1. pydataset 패키지를 command에서 설치하기 위한 명령어를 알려주세요. (1점)
2. notebook에서 코드청크(셀)를 지우기 위한 명령어는? (0.5점)
4. pandas를 pd로, numpy를 np로, pydataset을 dataset으로 바꿔서 불러오는 명령어를 작성하세요. (1.5점)
6. DataFrame의 뒤의 5개 행을 표시하기 위한 명령어는? (0.5점)
7. df['abc']를 어트리뷰트를 활용하여 다른 방식으로 바꿔보세요. (1점)
8. df의 내용을 df2로 그대로 '복사' 하기 위한 명령어는? (0.5점)

### 분석형 1 (5점)

캐글(www.kaggle.com)에 접속해서 big mac price를 검색해서 BigmacPrice.csv를 다운받아 과제를 수행합니다.
빅맥 지수(dollar_price)는 각 국가별 빅맥버거의 가격을 통해 각 나라의 물가를 확인하는 지수입니다. 

1. big_mac_price 데이터셋의 3가지 숫자 변수의 평균을 구하세요. (1점)
2. dollar_price를 $2와 $3을 기준으로 "high", "medium", "low"로 구분해서 big_mac_category 변수에 저장하세요. (2점)
3. big_mac_category 변수를 막대 그래프로 표현하세요. (1점)
4. dollar_price의 평균과 한국의 dollar_price의 가격을 비교해 보세요. (1점)

### 분석형 2 (5점)

In [ ]:
import pandas as pd
import numpy as np
import pydataset

pydataset에서 'diamonds' 데이터셋을 불러옵니다.

1. cut에 따른 가격(price)의 평균을 구해봅니다. (1점)
2. cut, clarity에 따른 carat, table 평균을 구해봅니다. carat에 따라서 내림차순 정렬하세요. (1.5점)
3. cut 변수의 막대그래프를 그려 봅니다. (1점)
4. carat의 값이 3이하이고, cut의 값이 'Very Good', 'Good', 'Fair'인 행만 추린 후, carat, cut, color 열만 추출한 뒤 color에 따른 cut 값의 평균을 구해보세요. (1.5점)

### 분석형 3 (5점) - 보너스 문제

nycflights13 패키지를 외부에서 설치하세요. (단답형 1번 참조)
아래와 같이 코드를 실행해서 flights 데이터 셋을 불러오세요.

In [ ]:
from nycflights13 import flights
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

1. JFK 공항(origin)에서 2013년 1~4월까지 비행한 항공기만 추린 후, 평균 출발 지연시간(dep_delay)와 도착 지연시간(arr_delay)의 평균을 구한 후, 두 변수의 평균을 내서 delay 변수를 만듭니다. delay 기준으로 자료를 내림차순 정렬하세요. (2점)
2. 월별 평균 체공시간(air_time)과 운항거리(distance)를 구하세요. (1.5점)
3. 월/일별 항공편수, 출발 지연시간, 도착 지연시간 최대를 구하세요. (1.5점)